<div class="toolbar" role="banner">
  <img
    width="40"
    alt="IMS Logo"
    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjgwMHB4IiB3aWR0aD0iODAwcHgiIHZlcnNpb249IjEuMiIgYmFzZVByb2ZpbGU9InRpbnkiIGlkPSJpbnZlbnRvcnkiCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgIHZpZXdCb3g9IjAgMCAyNTYgMjMwIgoJIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8cGF0aCBkPSJNNjEuMiwxMDZoMzcuNHYzMS4ySDYxLjJWMTA2eiBNNjEuMiwxNzguN2gzNy40di0zMS4ySDYxLjJWMTc4Ljd6IE02MS4yLDIyMC4xaDM3LjR2LTMxLjJINjEuMlYyMjAuMXogTTEwOS43LDE3OC43SDE0NwoJdi0zMS4yaC0zNy40VjE3OC43eiBNMTA5LjcsMjIwLjFIMTQ3di0zMS4yaC0zNy40VjIyMC4xeiBNMTU4LjIsMTg4Ljl2MzEuMmgzNy40di0zMS4ySDE1OC4yeiBNMjU1LDY3LjJMMTI4LjMsNy42TDEuNyw2Ny40CglsNy45LDE2LjVsMTYuMS03Ljd2MTQ0aDE4LjJWNzUuNmgxNjl2MTQ0LjhoMTguMnYtMTQ0bDE2LjEsNy41TDI1NSw2Ny4yeiIvPgo8L3N2Zz4="
  />
  <span>Inventory Management System</span>
    
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>

</div>


